body{
    background-color: rgb(255, 217, 127);
    text-align: center;
    border-radius: 80px;
}
.password{
    margin-left: 55px;
}
.form{
    border: solid;
    border-width: 20px;
    height: 200px;
    width: 300px;
    padding: 70px;
    padding-top: 150px;
    margin-left: 520px;
    background-color: gold;
    color: indigo;
    font-size: medium;
    border-color: crimson;
    
}
h1{
    text-align: center;
    background-color: rgb(140, 34, 89);
}
.baba{
    background-color: blue;
}
#button{
    width: 100px;
    background-color: blueviolet;
    padding: 5px;
    border: solid 3px;
}
.namet{
    border-color: rgb(250, 215, 223);
    border: solid 3px;
}
.passt{
    border-color: rgb(250, 215, 223);
    border: solid 3px;
}
#goot{
    text-align: left;
    
}

.button:hover{
    color: blue;
}
